*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: #f5f6f7;
    font-family: 'roboto';
    color: #0B2C37;
    display: flex;
    flex-direction: column;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.cabecera{
    position: fixed; /* Fija el .cabecera en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: #8EA9C4;
    color: #194F82;
    z-index: 3;
}

.cabecera i{
    cursor: pointer;
}

.contMenu{
    width: 80%;
    height: 100%;
    background-color: #194F82;
    color: #ffffff;
    display: block;
    position: fixed;
    left: -80%;
    top: 0px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 5px #93386475;
    transition: all 0.2s;
}

.menu{
    margin: 10px 0 10px 0;
}

.aparecer{
    left: 0;
}

.menu ul{
    font-size: 16px;
}
.menu ul hr{
    background-color: #f5f6f7;
    height: 1px;
    z-index: 1;
    margin: 0 0 0 0;
    border: none;
}

.cabeza{
    padding: 10px;
}

.menu ul li{
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btnPrin{
    padding: 0 10px 0 10px;
}

.menu ul li:hover{
    background-color: #2069ad;
}

.menu ul li p{
    color: #ffffff;
    width: 100%;
    display: flex;
    gap: 5px;
    margin: 0;
    align-items: center;
}
.menu ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.menu ul li p i{
    margin-right: 10px;
}
.menu ul li a i{
    margin-right: 10px;
}

#flecha1, #flecha2{
    transition: transform 0.5s ease;
    font-size: 22px;
}


.subMenu{
    margin-left: 27px;
    display: none;
}

.subMenu ul {
    width: 100%;
}

#fondoGris{
    background-color: #98a4a777;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display:none; /*aun en investigacion, borrar el display si quieres que aparezca el mensaje*/
}

.principal{
    padding-top: 85px;
}

/* Imagaen */
.imagen{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
.imagen img{
    width: 50px;
    height: 50px;
}
/* termina imagen */

.cont1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.cont2{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

/* Estandar de H1 y h2, imagen*/
h1, h2{
    font-size: 20px;
    color: #194F82;
    margin-bottom: 10px;
    font-weight: bold;
}

h2{
    font-size: 16px;
}
.imgEst{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}
/* Termina estandar de h1 h2, imagen */


/* botones */
.botones{
    display: flex;
    justify-content: center;
    background-color: #f5f6f7;
    gap: 5px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px 0 5px 0;
    z-index: 1;
}